# Discord Webhook Configuration
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1421968496186622144/GpKwiX1p5QShJyFqHg4sj_Y1F-mwd9zjd-AKk6CoMnuaBP4ossChi2xS1PwXkjzUZHV1

# API Security
API_KEY=splintax_admin_9e3cf7ba59a4b9901492acbf23d1350f60c2624c089b5fd7c2c40fbc9d0ba336
ADMIN_KEY=splintax_admin_9e3cf7ba59a4b9901492acbf23d1350f60c2624c089b5fd7c2c40fbc9d0ba336

# Server Configuration
PORT=3000
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:3000

# Environment
NODE_ENV=production